.container {
    text-align: center;
    border: 1.5px solid #f6f6f6;
    padding: 2em;
    margin: 2rem 0;
    -webkit-box-shadow: 0px 0px 28px 14px rgba(230,230,230,0.22);
    -moz-box-shadow: 0px 0px 28px 14px rgba(230,230,230,0.22);
    box-shadow: 0px 0px 28px 14px rgba(230,230,230,0.22);
    border-radius: 10px;
}

.title {
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
    margin: 0px;
}

.subtitle {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

.count {
    font-size: 9rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.btn {
    padding: 6px 30px;
    font-size: 18px;
    background-color: #fff;
    color: rgb(46, 88, 202);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid rgb(46, 88, 202);
    transition: background-color 0.3s ease;
    margin: 0px 4px;
}

.btn-primary {
    padding: 6px 30px;
    font-size: 18px;
    background-color: rgb(46, 88, 202);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid rgb(46, 88, 202);
    transition: background-color 0.3s ease;
    margin: 0px 4px;
}

button:hover {
    opacity: 0.8;
}

.version {
    font-size: 0.8rem;
    color: #666;
    margin-top: 40px;
    margin-bottom: 0px;
}